/* Category.css */
.category-section {
	/* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
	position: relative;
	margin-top: -80px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
	width: 95%;
	margin: -200px auto 0;
}

@media (max-width: 1200px) {
	.category-section {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 992px) {
	.category-section {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.category-section {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.category-section {
		grid-template-columns: repeat(1, 1fr);
	}
}
